<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/545058/pexels-photo-545058.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
  <div class="container">
    <h1>Cocktail Maker</h1>
    <p>Find your favorite cocktails</p>
    <%= link_to  "Add a new cocktail", new_cocktail_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
       <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cl_image_path cocktail.photo_path, height: 180, crop: :fill %> )">
            <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
   </div>
</div>
